{% extends 'base.twig' %}

{% block content %}

<h2>Admin section</h2>

{% if users %}
    <table>
    <tr>
        <th>Id</th>
        <th>Username</th>
    </tr>
    {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td><a href="/user/{{ user.username }}">{{ user.username }}</a></td>
            <td>
                <form action="{{ urlFor('deleteuser') }}" method="POST">
                    <input type="hidden" name="{{ csrf_key }}" value="{{ csrf_token }}">
                    <input type="hidden" name="username" value="{{ user.username }}">
                    <a href="" onclick="parentNode.submit();return false;">Delete this user</a>
                </form>
            </td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    The users table is empty.
{% endif %}

{% endblock %}
