{% extends 'base.twig' %}

{% block content %}

<h2>New password</h2>

<b>{{ flash.info }}</b> <br />
<b>{{ flash.error }}</b> <br />

<form action="" method="POST">

<label>New Password: </label>
<input type="password" name="password"> <br />
<input type="submit" name="submit" value="Set new password">
<input type="hidden" name="{{ csrf_key }}" value="{{ csrf_token }}">
<input type="hidden" name="user" value="{{ user }}">
<input type="hidden" name="token" value="{{ token }}">
</form>
{% endblock %}
