{% extends 'base.twig' %}

{% block content %}

<h2>User</h2>

{{ flash.info }} <br />
{{ flash.error }} <br />

{% if user %}
    <table>
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Bio</th>
            <th>Age</th>
            <th>Image</th>
        </tr>
            <tr>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.bio }}</td>
            <td>{{ user.age }}</td>
            <td><img style="height: 150px" src="{{ user.imageurl }}"></td>

            <!-- Remove this line before shipping!
            60cc9e4656701b7ff8b399b4acdc6b03ba33f59040243d1c1818d6512da1c62cac9da36b852c9d9b5ed4e03e11d61b9710cdf35fe8e4892e7b7dd2ddf3438fa2 --!>

        </tr>
    </table>
{% else %}
    Could not find a user with username "{{ username }}".
{% endif %}

{% endblock %}
