{% extends 'base.twig' %}

{% block content %}

<h2>User</h2>

{{ flash.info }} <br />
{{ flash.error }} <br />

{% if user %}
    <table>
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Bio</th>
            <th>Age</th>
            <th>Image</th>
        </tr>
            <tr>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.bio }}</td>
            <td>{{ user.age }}</td>
            <td><img style="height: 150px" src="{{ user.imageurl }}"></td>
        </tr>
    </table>
{% else %}
    Could not find a user with username "{{ username }}".
{% endif %}

{% endblock %}
